@tailwind base;
@tailwind utilities;
@tailwind components;
@tailwind variants;

/* CUSTOM */

@font-face {
  font-family: "Apercu";
  font-weight: 400;
  src: url(/fonts/Apercu-Regular.woff2);
}

@font-face {
  font-family: "Apercu";
  font-weight: 500;
  src: url(/fonts/Apercu-Medium.woff2);
}

@font-face {
  font-family: "Apercu";
  font-weight: 700;
  src: url(/fonts/Apercu-Bold.woff2);
}

@layer base {
  html {
    font-family: 'Apercu', 'system-ui', monospace;
  }
}

html {
  scroll-behavior:smooth;
}

.-mt-30 {
  margin-top: -128px;
}

.bg-violet-1000 {
  background-color: hsl(263, 77%, 15%);
}