@tailwind base;
@tailwind utilities;
@tailwind components;
@tailwind variants;

/* CUSTOM */

@font-face {
  font-family: "Apercu";
  font-weight: 400;
  src: url(/fonts/Apercu-Regular.woff2);
}

@font-face {
  font-family: "Apercu";
  font-weight: 500;
  src: url(/fonts/Apercu-Medium.woff2);
}

@font-face {
  font-family: "Apercu";
  font-weight: 700;
  src: url(/fonts/Apercu-Bold.woff2);
}

@font-face {
  font-family: 'Hubot Sans';
  font-stretch: 75% 115%;
  font-weight: 400 900;
  src:
    url('/fonts/HubotSans-variable.woff2') format('woff2 supports variations'),
    url('/fonts/HubotSans-variable.woff2') format('woff2-variations');
  font-display: swap;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Hubot Sans', 'system-ui', monospace;
  }
}

html {
  scroll-behavior: smooth;
}

.md\:-mt-30 {
  margin-top: -128px;
}

.offset {
  margin-top: -80px;

  @media screen and (min-width: 768px) {
    margin-top: -120px;
    
  }

  @media screen and (min-width: 1280px) {
    margin-top: -160px;
    
  }
}

.underline {
  text-decoration-color: color-mix(in srgb, currentColor 50%, transparent);
  text-underline-offset: 6px;
}

.underline:hover {
  text-decoration-color: color-mix(in srgb, currentColor 100%, transparent);
}

.background-image{
  background-image: url(/img/hero-background.svg) bottom left no-repeat;
}

.heading {
  font-stretch: 75%;
  font-weight: 900;
}

.eyebrow {
  font-family: 'Hubot Sans', 'system-ui', monospace;
}

.animate {
  opacity: 0;
}

.slide {
  animation: .3s slideIn ease-out forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.seva-overlay,
.formkit-overlay {
  background-color: rgba(30,41,59, .75) !important;
}

.seva-modal .formkit-close:hover, .formkit-modal .formkit-close:hover {
  background-color: transparent !important;
}

.formkit-submit {
  background-color: rgb(110 231 183) !important;
}

.formkit-submit > span {
  color: rgb(30 41 59);
}

.bg-orange-50 {
  background-color:#FFF5E9;
}

.bg-orange-500 {
  background-color: #FB7643;
}

.text-orange-500 {
  color: #FB7643;
}

.button-primary {
  background: #6ee7B7;
}